@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i&display=swap");

* {
  max-width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

body {
  color: rgba(0, 0, 0, 0.84);
  font-family: "PT Serif", serif;
  font-size: 24px;
  padding-bottom: 24px;
}

@media (min-width: 575px) {
  body {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

a {
  display: block;
  color: #ac8d57;
  text-decoration: none;
}

a:hover {
  color: #d2bb92;
}

.link-btn-home {
  display: inline-block;
  padding: 15px 25px;
  background-color: #ac8d57;
  color: #ffffff;
}

.link-btn-home:hover {
  background-color: #baa073;
  color: #ffffff;
}

.content {
  white-space: pre-line;
  line-height: 1.5;
}

.content.subtitle {
  font-style: italic;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 575px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
