@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap");

:root {
  --primary-color: #203337;
  --text-color: #383838;
  --text-color-dark: #2b2b2b;
  --bg-color: #fbfbf4;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
}

.page-wrapper {
  min-height: calc(100vh - 50px);
}

.footer {
  height: 50px;
  background-color: var(--primary-color);
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.white {
  color: #ffffff;
}

.text-dark {
  color: var(--text-color-dark);
}

.bg-primary {
  background-color: var(--primary-color);
}

.header-wrapper {
  background-color: var(--primary-color);
  color: #ffffff;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
}

.header-wrapper img {
  filter: brightness(0%) invert(100%);
  height: 30px;
}

.fw-light {
  font-weight: 300;
}

.btn-primary {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 24px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.choices-wrapper h4 {
  margin-bottom: 16px;
}

.choices-wrapper .btn-primary {
  margin-top: -2px;
  font-weight: initial;
  text-transform: initial;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.block {
  display: block;
}

.header-title {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.story-heading-wrapper {
  margin-bottom: 24px;
}

.title,
.subtitle {
  color: var(--text-color-dark);
}

.container.main {
  margin-top: 32px;
}

.story-content {
  margin-bottom: 16px;
}

.story-summary {
  margin-top: 48px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(32, 51, 55, 10%);
  color: var(--primary-color);
}

.story-summary p {
  margin-top: 16px;
  margin-bottom: 24px;
}

.intro-text {
  margin-top: 16px;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.content {
  white-space: pre-line;
  line-height: 170%;
}

@media (min-width: 575px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

.lg-only {
  display: none;
}

.subtitle {
  opacity: 0.6;
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }

  .content {
    margin-top: 40px;
    margin-bottom: 56px;
    line-height: 190%;
  }

  .sm-only {
    display: none;
  }

  .btn-primary {
    font-size: 18px;
  }

  .lg-only {
    display: block;
  }

  .title {
    font-size: 40px;
  }

  .main.container,
  .footer .container {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    justify-content: space-between;
  }

  .main.container {
    margin-top: 200px;
  }

  .main-content {
    width: 70%;
    padding-right: 100px;
  }

  .sidebar {
    width: 30%;
    text-align: right;
  }

  .story-summary {
    margin: 0;
    padding: 0;
    background-color: initial;
  }

  .project-summary p,
  .story-summary p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .project-summary a,
  .story-summary a {
    font-size: 14px;
  }

  .header-wrapper .container {
    width: 100%;
  }

  .header-wrapper .header {
    height: 8px;
    overflow: visible;
  }

  .header-wrapper .header-title {
    display: none;
  }

  .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
  }

  .header-img img {
    height: 50px;
  }

  .choices-wrapper {
    margin-bottom: 150px;
  }

  .choices-wrapper h4 {
    margin-bottom: 32px;
  }

  .choices-wrapper .btn-primary {
    border: none;
    font-size: 22px;
    border-left: 4px solid var(--primary-color);
    margin-bottom: 8px;
  }
}

/* 

.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #080808;
}

.footer p {
  font-size: 18px;
  margin: 0;
}

.main {
  min-height: calc(100vh - 50px);
  padding-bottom: 24px;
}

@media (min-width: 575px) {
  .main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

a {
  color: #26de14;
  text-decoration: none;
}



.link-btn {
  padding: 8px 16px;
  border: 2px solid #26de14;
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
}

.link-btn:hover {
  background-color: #26de14;
  color: #000000;
}

 */
